@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

.ql-editor {
  font-size: 16px;
  min-height: 200px;
}

.swal2-container {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
